// import
@import "libs/color.scss";
@import "libs/responsive.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/function.scss";

$colorBackground:#031321;
$blueDark:#255784;
$blue:#2196f3;
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:$colorBackground;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    padding: 15px 30px;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    overflow: hidden;
    transition: 0.2s;
    &:hover {
        color: $blueDark;
        background: $blue;;
        box-shadow: 0 0 10px $blue, 0 0 40px $blue, 0 0 80px $blue;
        transition-delay: 1s;
        & span:nth-child(1) {
            left: 100%;
            transition: 1s;
        }
        & span:nth-child(3) {
            right: 100%;
            transition: 1s;
            transition-delay: 0.5s;
        }
        & span:nth-child(2) {
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }
        & span:nth-child(4) {
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }
    }
    & span {
        position: absolute;
        display: block;
    }
    & span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $blue);
    }
    & span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $blue);
    }
    & span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $blue);
    }
    & span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $blue);
    }
}
